body{
	font-family:'JD-BRIMSTONE-BASIC', sans-serif;
	font-weight:800 ;
  font-size :30px;
	letter-spacing: -1px;
	background-color: red;
    color:black;
    text-align:center;
    padding:80px;
}

header {

	padding: 20px;
	border-radius: 10 px;
}

 button{
  background-color: #27ae60;
  color:white;
  border:none;
  padding : 10px 20px;
  font-size :16px;
  border-radius: 5px;
  cursor: ;pointer
 }
 button: hover{
   background-color: #2ecc71;
 }

#puppy {
    width:  200px;
    height: 200px; 
    border: 5px solid #333;}


#chubby {
  width:  200px;
  height: 200px; 
  border: 5px solid #333;}

#punchline1{
  opacity: 0;
  font-size: 30px;
}




